<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<center>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
            <td>手机号</td>
            <td>操作</td>
        </tr>
        <?php foreach($arr as $val){ ?>
        <tr>
            <td><?php echo $val['id']  ?></td>
            <td><?php echo $val['username']  ?></td>
            <td><?php echo $val['age']  ?></td>
            <td><?php echo $val['sex']  ?></td>
            <td><?php echo $val['tel']  ?></td>
            <td></td>
        </tr>
        <?php  } ?>
    </table>
</center>
</body>
</html>